body{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

img{
    max-width: 100%;
}

.quitar-float{
    float: none;
}

.arriba-espacio {
    margin-top: 100px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.grande{
    font-size: 4em;
}

.verde{
    color: #00887C;
}

a{
    color: #009FFF;
}

.espacio-derecha{
    margin-right: 1em;
}

.no-lista{
    margin: 0px;
    padding: 0px;
}

.inline-block{
    float:none;
    display: inline-block;
    margin-right: -4px;
}

.no-lista li {
    list-style-type: none;
}
